<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Product Id="*" Name="gShell PoSh Cmdlets"
           Language="1033" Version="0.0.7.0" Manufacturer="Spencer Varney"
           UpgradeCode="16053A29-5B09-4630-B7B2-ADA5366DA766">
    <Package Id="*" InstallerVersion="200" Compressed="yes" InstallScope="perMachine" InstallPrivileges="elevated" />

    <Media Id='1' Cabinet='gShellCmdlets.cab' EmbedCab='yes' CompressionLevel='high'/>

    <Feature Id="ProductFeature" Title="WixSetupProjectTest" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
    
    <!--Update Information-->
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <!--Do major updates if anything. Minor updates may not fire properly - the fourth value may be ignored by wix.
    So always update the 3 values of the higher number below, as well as the version on line 5 above-->
    <Upgrade Id="16025265-05DE-4BBD-89C6-AE89F0B7F88D">
      <UpgradeVersion OnlyDetect='no' Property='SELFFOUND'
        Minimum='0.0.1.0' IncludeMinimum='yes'
        Maximum='0.0.7.0' IncludeMaximum='no' />
      <UpgradeVersion OnlyDetect='yes' Property='NEWERFOUND'
        Minimum='0.0.7.0' IncludeMinimum='no' />
    </Upgrade>

    <CustomAction Id='AlreadyUpdated' Error='[ProductName] has already been updated to 0.0.7.0 or newer.' />
    <CustomAction Id='NoDowngrade' Error='A later version of [ProductName] is already installed.' />

    <InstallExecuteSequence>
      <Custom Action='AlreadyUpdated' After='FindRelatedProducts'>SELFFOUND</Custom>
      <Custom Action='NoDowngrade' After='FindRelatedProducts'>NEWERFOUND</Custom>
    </InstallExecuteSequence>

    <!--Custom Actions-->
    <Binary Id="WixCustomActions"  SourceFile="$(var.WixCustomActions.TargetDir)$(var.WixCustomActions.TargetName).CA.dll"/>
    <CustomAction Id="CustomAction1"
                  BinaryKey="WixCustomActions"
                  DllEntry="CustomAction1"
                  Execute="immediate" />
    <InstallExecuteSequence>
      <Custom Action="CustomAction1" After="InstallValidate">
        NOT Installed
      </Custom>
    </InstallExecuteSequence >

    <!--Take care of the folder structure for the physical files. All directories must be listed here.-->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="PersonalFolder">
        <Directory Id="DocsWinPoSh" Name="WindowsPowerShell">
          <Component Id="DocsWinPoSh" Guid="A5D189D3-56EC-4D29-962B-CD4CD9095DDF">
            <RemoveFolder Id="DocsWinPoSh" On="uninstall"/>
            <RegistryValue Root="HKCU" Key="Software\gShell" Type="string" Value="1" KeyPath="yes" />
          </Component>
          <Directory Id="DocsPSModules" Name="Modules">
            <Component Id="DocsPSModules" Guid="8294B615-8034-4C31-AD05-DC9E421D64B2">
              <RemoveFolder Id="DocsPSModules" On="uninstall"/>
              <RegistryValue Root="HKCU" Key="Software\gShell" Type="string" Value="2" KeyPath="yes" />
            </Component>
            <Directory Id="INSTALLFOLDER" Name="gShell">
              <Component Id="INSTALLFOLDER" Guid="8267EAAF-AF4C-48BA-9724-1DB65111D779">
                <RemoveFolder Id="INSTALLFOLDER" On="uninstall"/>
                <RegistryValue Root="HKCU" Key="Software\gShell" Type="string" Value="3" KeyPath="yes" />
              </Component>
            </Directory>
          </Directory>
        </Directory>
      </Directory>

      <!--<Directory Id='ProgramFilesFolder' Name='PFiles'>
        <Directory Id='gshellProgramFiles' Name='gShell'>
          <Component Id='gshellProgramFiles' Guid="797EF579-3E8E-4457-B299-506F56CB7BC5">
            <RemoveFolder Id="gshellProgramFiles" On="uninstall"/>
            <RegistryValue Root="HKCU" Key="Software\gShell" Type="string" Value="1" KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>-->

    </Directory>
    <!--Set up components to remove the serialized files on removal-->

    <!--Take care of the folder structures for the start menu files and shortcuts-->
    <!--Take care of adding the files to the folders defined above-->

    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="ProductComponent" Guid="531DCFFD-18E9-46D2-A2CF-7FBB0FD3771D">
        <!--Add physical files-->

        <File Id="gShelldll"
              Name="gShell.dll"
              DiskId="1"
              Source="$(var.gShell.TargetPath)" />
        <RemoveFile Name="gShell.dll" Id="gShelldll" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\gShell" Type="string" Value="4" KeyPath="yes" />

        <File Id="Google.Apis.Admin.Directory.directory_v1.dll"
              Name="Google.Apis.Admin.Directory.directory_v1.dll"
              DiskId="1"
              Source="$(var.gShell.TargetDir)/Google.Apis.Admin.Directory.directory_v1.dll" />
        <RemoveFile Name="Google.Apis.Admin.Directory.directory_v1.dll" Id="Google.Apis.Admin.Directory.directory_v1.dll" On="uninstall" />

        <File Id="Google.Apis.Admin.Reports.reports_v1.dll"
              Name="Google.Apis.Admin.Reports.reports_v1.dll"
              DiskId="1"
              Source="$(var.gShell.TargetDir)/Google.Apis.Admin.Reports.reports_v1.dll" />
        <RemoveFile Name="Google.Apis.Admin.Reports.reports_v1.dll" Id="Google.Apis.Admin.Reports.reports_v1.dll" On="uninstall" />

        <File Id="Google.Apis.Auth.dll"
              Name="Google.Apis.Auth.dll"
              DiskId="1"
              Source="$(var.gShell.TargetDir)/Google.Apis.Auth.dll" />
        <RemoveFile Name="Google.Apis.Auth.dll" Id="Google.Apis.Auth.dll" On="uninstall" />

        <File Id="Google.Apis.Auth.PlatformServices.dll"
              Name="Google.Apis.Auth.PlatformServices.dll"
              DiskId="1"
              Source="$(var.gShell.TargetDir)/Google.Apis.Auth.PlatformServices.dll" />
        <RemoveFile Name="Google.Apis.Auth.PlatformServices.dll" Id="Google.Apis.Auth.PlatformServices.dll" On="uninstall" />

        <File Id="Google.Apis.dll"
              Name="Google.Apis.dll"
              DiskId="1"
              Source="$(var.gShell.TargetDir)/Google.Apis.dll" />
        <RemoveFile Name="Google.Apis.dll" Id="Google.Apis.dll" On="uninstall" />

        <File Id="Google.Apis.Coredll"
              Name="Google.Apis.Core.dll"
              DiskId="1"
              Source="$(var.gShell.TargetDir)/Google.Apis.Core.dll" />
        <RemoveFile Name="Google.Apis.Core.dll" Id="Google.Apis.Core.dll" On="uninstall" />

        <File Id="Google.Apis.Drive.v2.dll"
              Name="Google.Apis.Drive.v2.dll"
              DiskId="1"
              Source="$(var.gShell.TargetDir)Google.Apis.Drive.v2.dll" />
        <RemoveFile Name="Google.Apis.Drive.v2.dll" Id="Google.Apis.Drive.v2.dll" On="uninstall" />

        <File Id="Google.Apis.Oauth2.v2.dll"
              Name="Google.Apis.Oauth2.v2.dll"
              DiskId="1"
              Source="$(var.gShell.TargetDir)/Google.Apis.Oauth2.v2.dll" />
        <RemoveFile Name="Google.Apis.Oauth2.v2.dll" Id="Google.Apis.Oauth2.v2.dll" On="uninstall" />

        <File Id="Google.Apis.PlatformServices.dll"
              Name="Google.Apis.PlatformServices.dll"
              DiskId="1"
              Source="$(var.gShell.TargetDir)/Google.Apis.PlatformServices.dll" />
        <RemoveFile Name="Google.Apis.PlatformServices.dll" Id="Google.Apis.PlatformServices.dll" On="uninstall" />

        <File Id="log4net.dll" 
              Name="log4net.dll" 
              DiskId="1"
              Source="$(var.SolutionDir)packages\log4net.2.0.3\lib\net40-full\log4net.dll" />
        <RemoveFile Name="log4net.dll" Id="log4net.dll" On="uninstall" />

        <File Id="Microsoft.Threading.Tasks.dll"
              Name="Microsoft.Threading.Tasks.dll"
              DiskId="1"
              Source="$(var.gShell.TargetDir)/Microsoft.Threading.Tasks.dll" />
        <RemoveFile Name="Microsoft.Threading.Tasks.dll" Id="Microsoft.Threading.Tasks.dll" On="uninstall" />

        <File Id="Microsoft.Threading.Tasks.Extensions.Desktop.dll"
              Name="Microsoft.Threading.Tasks.Extensions.Desktop.dll"
              DiskId="1"
              Source="$(var.gShell.TargetDir)/Microsoft.Threading.Tasks.Extensions.Desktop.dll" />
        <RemoveFile Name="Microsoft.Threading.Tasks.Extensions.Desktop.dll" Id="Microsoft.Threading.Tasks.Extensions.Desktop.dll" On="uninstall" />

        <File Id="Microsoft.Threading.Tasks.Extensions.dll"
              Name="Microsoft.Threading.Tasks.Extensions.dll"
              DiskId="1"
              Source="$(var.gShell.TargetDir)/Microsoft.Threading.Tasks.Extensions.dll" />
        <RemoveFile Name="Microsoft.Threading.Tasks.Extensions.dll" Id="Microsoft.Threading.Tasks.Extensions.dll" On="uninstall" />

        <File Id="Newtonsoft.Json.dll"
              Name="Newtonsoft.Json.dll"
              DiskId="1"
              Source="$(var.gShell.TargetDir)/Newtonsoft.Json.dll" />
        <RemoveFile Name="Newtonsoft.Json.dll" Id="Newtonsoft.Json.dll" On="uninstall" />

        <File Id="System.Net.Http.dll" 
              Name="System.Net.Http.dll" 
              DiskId="1"
              Source="$(var.SolutionDir)packages\Microsoft.Net.Http.2.2.22\lib\net40\System.Net.Http.dll" />
        <RemoveFile Name="System.Net.Http.dll" Id="System.Net.Http.dll" On="uninstall" />

        <File Id="System.Net.Http.Extensions.dll"
              Name="System.Net.Http.Extensions.dll"
              DiskId="1"
              Source="$(var.gShell.TargetDir)/System.Net.Http.Extensions.dll" />
        <RemoveFile Name="System.Net.Http.Extensions.dll" Id="System.Net.Http.Extensions.dll" On="uninstall" />

        <File Id="System.Net.Http.Primitives.dll" 
              Name="System.Net.Http.Primitives.dll" 
              DiskId="1"
              Source="$(var.SolutionDir)packages\Microsoft.Net.Http.2.2.22\lib\net40\System.Net.Http.Primitives.dll" />
        <RemoveFile Name="System.Net.Http.Primitives.dll" Id="System.Net.Http.Primitives.dll" On="uninstall" />

        <File Id="System.Net.Http.WebRequest.dll"
              Name="System.Net.Http.WebRequest.dll"
              DiskId="1"
              Source="$(var.gShell.TargetDir)/System.Net.Http.WebRequest.dll" />
        <RemoveFile Name="System.Net.Http.WebRequest.dll" Id="System.Net.Http.WebRequest.dll" On="uninstall" />

        <File Id="System.Runtime.dll"
              Name="System.Runtime.dll"
              DiskId="1"
              Source="$(var.gShell.TargetDir)/System.Runtime.dll" />
        <RemoveFile Name="System.Runtime.dll" Id="System.Runtime.dll" On="uninstall" />

        <File Id="System.Threading.Tasks.dll"
              Name="System.Threading.Tasks.dll"
              DiskId="1"
              Source="$(var.gShell.TargetDir)/System.Threading.Tasks.dll" />
        <RemoveFile Name="System.Threading.Tasks.dll" Id="System.Threading.Tasks.dll" On="uninstall" />

        <File Id="Zlib.Portable.dll"
              Name="Zlib.Portable.dll"
              DiskId="1"
              Source="$(var.gShell.TargetDir)/Zlib.Portable.dll" />
        <RemoveFile Name="Zlib.Portable.dll" Id="Zlib.Portable.dll" On="uninstall" />

        <File Id="gShell.psd1"
              Name="gShell.psd1"
              DiskId="1"
              Source="$(var.gShell.ProjectDir)/InstallerFiles/gShell.psd1" />
        <RemoveFile Name="gShell.psd1" Id="gShell.psd1" On="uninstall" />

        <File Id="gShell.Format.ps1xml"
              Name="gShell.Format.ps1xml"
              DiskId="1"
              Source="$(var.gShell.ProjectDir)/InstallerFiles/gShell.Format.ps1xml" />
        <RemoveFile Name="gShell.Format.ps1xml" Id="gShell.Format.ps1xml" On="uninstall" />

        <!--<File Id="idname"
              Name="filename"
              DiskId="1"
              Source="$(var.gShell.TargetDir)/filename" />
        <RemoveFile Name="filename" Id="idname" On="uninstall" />-->

      </Component>
    </ComponentGroup>

    <Feature Id="Complete" Level="1"
             Title="gShell Cmdlets Installer"
             Display="hidden"
             Absent="disallow">
      <ComponentRef Id="DocsPSModules"/>
      <ComponentRef Id="DocsWinPoSh"/>
      <ComponentRef Id="INSTALLFOLDER"/>
      <ComponentGroupRef Id="ProductComponents"/>
      
      <!--
      <ComponentRef Id="gshellProgramFiles"/>
      <ComponentRef Id="System.Net.Http.dll"/>
      <ComponentRef Id="System.Net.Http.Primitives.dll"/>
      <ComponentRef Id="log4net.dll"/>
      -->
    </Feature>

    <UIRef Id="WixUI_Minimal" />
    <UIRef Id="WixUI_ErrorProgressText" />
    <Icon Id="gShell.ico" SourceFile="$(var.gShell.ProjectDir)/InstallerFiles/gShell.ico" />
    <Property Id="ARPPRODUCTICON" Value="gShell.ico" />
    <WixVariable Id="WixUILicenseRtf" Value="$(var.gShell.ProjectDir)/InstallerFiles/gShellLicense.rtf"/>
    <WixVariable Id="WixUIDialogBmp" Value="$(var.gShell.ProjectDir)/InstallerFiles/gShellInstallerBackground.bmp"/>
    <WixVariable Id="WixUIBannerBmp" Value="$(var.gShell.ProjectDir)/InstallerFiles/gShellInstallerTopBanner.bmp"/>

  </Product>
</Wix>

<!--Seriously, this has to be one of the most annoying things I've done since I started learning to program. How is this not easier yet??-->